<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Polls</title>
    <link rel="stylesheet" href="../static/index_polls.css">
</head>
<body>
    <div id ="container_center" >
        <div id ="root">
            {% for p in polls %}
                <div>
                    <h3>{{ p.question }}</h3>
                </div>
            {% endfor %}
        </div>    
    </div>    

   
</body>
</html>