<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aboutme</title>
</head>
<body>
    <h1>ABOUT ME </h1>
   <ol>
        <li>name : van vu </li>
        <li>school : mta </li>
        <li>hobbies : nuoi cho , xe , cong nghe , nhung thu lien quan den khoa hoc  </li>    
    <a href="http://techkids.vn " target = "#">CLICK ME </a>    
   </ol>
</body>
</html>