<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Khảo sát về sự căng thẳng trong cuộc sống</h2>
    <form action="" method="POST">            
        <input name="asurvey" type="radio" value= "Chuyện công việc" checked> Chuyện công việc<br>
        <input name="asurvey" type="radio" value= "Chuyện nhà ở"> Chuyện nhà ở<br>
        <input name="asurvey" type="radio" value= "Chuyện tình cảm"> Chuyện tình cảm<br>
        <input name="asurvey" type="radio" value= "Chuyện con cái"> Chuyện con cái<br>
        <input name="asurvey" type="radio" value= "Chuyện người thân"> Chuyện người thân<br>
        <input name="asurvey" type="radio" value= "Nỗi lòng khó nói "> Nỗi lòng khó nói
           
    </form>
    <button>Send result</button>
</body>
</html>