html {
    height: 100%;
}
body{
    height: 100%;
}
*{
    font-family: 'Mali', cursive;
}
h2 {
    color: #ed4eda;
    font-family: 'Mali', cursive;

}

#root {
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(https://images.unsplash.com/photo-1539960679462-826cbf496d4c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fccccd038a0484afb0a3286b4ac0079d&auto=format&fit=crop&w=1950&q=80);
    height : 100%
}   